footer {
    margin-top: 3em;
    width: 100%;
    background-color: black;
    border-top: #9a112e solid 2px;
}

.container{
    margin: auto;
    width: 100%;
    max-width: 1440px;
    padding: 30px;
    .links{
        width: auto;
        display: flex;
        justify-content: space-between;
        h3 {
            color: wheat;
        }
        a{
            font-weight: 400;
            color: white;
            text-decoration: none;
        }
    }
}
.copyright {
    display: flex;
    background-color: #9a112e;
    span {
        margin: auto;
        padding: 2px;
        a{
            color: white;
        }
    }
}